<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/events.css">

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <!-- js file -->
    <script type="text/javascript" src = "/js/events.js"></script>
  </head>



  <body>
    <%include ./partials/navbar%>
    <div class="container">
<h1>
  <%if(searchResults.data.length -1 < 5) {%>
    Looks like there isn't a lot going on at LOO :(
    <br>
    Only <%=searchResults.data.length -1 %> events found.
  <%} else {%>
    <%=searchResults.data.length%> events found!
  <%}%>

</h1>
  <%for (var i = 0; i < searchResults.data.length-1; i += 2) {%>
    <div class="row">
      <div class="col-sm-6 col-md-6" >
        <p><%=searchResults.data[i].title%>
          &nbsp
          &nbsp
          <span>
            <a href="http://www.feds.ca/events/">
              <button class="circular ui baisc blue icon button">Find out more &nbsp
                <i class = "right chevron icon"></i>
              </button>
            </a>

          </span>
        </p>

      </div>
      <div class="col-sm-6 col-md-6" >
        <p>
          <%=searchResults.data[i+1].title%>
          &nbsp
          &nbsp
          <span>
            <button class="circular ui baisc blue icon button">Find out more &nbsp
              <i class = "right chevron icon"></i>
            </button>
          </span>
        </p>
      </div>
    </div>
  <%}%>

</div>
<%include ./partials/navbarfooter%>

  </body>
</html>
