<html>
  <head>
    <meta charset="utf-8">
    <title>Waterlooooo | Food</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="/css/food.css">

    <!-- If someone uses old web browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>
  <body>
      <form class="ui form">
        <div class="field">
          <input type="text" name="first-name" placeholder="Name of the restaurant...">
        </div>
        <div >
          <button class="ui large green button">Search</button>
        </div>
        <hr>
        <div>
          <button class="ui large blue button">View All Restaurants</button>
        </div>
      </form>
  </body>
</html>
