
<% include ./partials/homeHeader %>
  <div class="backgroundImage">

  </div>

  <div class="bodyContent">
    <h1 class = "pageTitle">I AM LOOKING FOR . . .</h1>
    <div class="large ui buttons">
      <a href="/food">
        <button class="ui labeled  blue icon button">
          <i class="food icon"></i>
          Food
        </button>
      </a>
      <a href="/events">
        <button class="ui  olive button">
          <i class="calendar icon"></i>
          Fed Events
        </button>
      </a>
      <a href="/courses">
        <button class="ui  green button">
          <i class="book icon"></i>
          Courses
        </button>
      </a>
      <a href="/awards">
        <button class="ui  yellow button">
          <i class="empty star icon"></i>
          Student Awards
        </button>
      </a>
      <a href="/infoSessions">
        <button class="ui  orange button">
          <i class="info circle icon"></i>
          Info Session
        </button>
      </a>
    </div>
  </div>
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
