
<% include ./partials/homeHeader %>
    <div class="bodyContent">
      <h1 class = "pageTitle">I am looking for...</h1>
      <div class="ui buttons">
        <button class="ui labeled basic blue icon button">
          <i class="food icon"></i>
          Food
        </button>
        <button class="ui basic olive button">
          <i class="calendar icon"></i>
          Fed Events
        </button>
        <button class="ui basic green button">
          <i class="book icon"></i>
          Courses
        </button>
        <button class="ui basic yellow button">
          <i class="empty star icon"></i>
          Student Awards
        </button>
        <button class="ui basic orange button">
          <i class="empty star icon"></i>
          Info Session
        </button>
        <button class="ui right labeled icon basic violet button">
          Write
          <i class="right write icon"></i>
        </button>
      </div>
    </div>
  </body>
</html>
