.container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

hr {
  width: 40%;
}

.buttonPadding {
  padding-top: 20px;
}

li {
  list-style: none;
}

#finalhr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;

}
